{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">

    <title>Shopping for Halloween??? </title>

</head>

<body>
    <!--==================== HEADER ====================-->

    {% include 'personal/header.html' %}
    <!--==================== HEADER END ====================-->


    <!--==================== HOME ====================-->
    {% include 'personal/home.html' %}
    <!--==================== HOME END ====================-->

    <div id="order">

        <form action="" style="margin-top: 100px; margin-bottom: 2rem;">
            <table>
                <thead>
                    <tr>
                        <th style="width: 100px">Product</th>
                        <th style="width: 300px">Name</th>
                        <th style="width: 100px">Quantity</th>
                        <th style="width: 180px">Price</th>
                        <th style="width: 180px">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="total" style="margin-left: 740px; margin-top: 80px">
                <p style="display: inline; font-size: 20px;">Total: </p>
                <p id="money" style="display: inline; font-size: 20px;"> 0 </p>
            </div>
            <button id="purchase">
                <a href="{% url 'purchase' %}" id="purchase-text" style="text-decoration: none; display: flex;">Purchase and Enjoy</a>
            </button>

        </form>
    </div>
    <!--==================== FOOTER ====================-->
    {% include 'personal/footer.html' %}
    <!--==================== FOOTER END ====================-->


    <!--=============== SCROLL REVEAL ===============-->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>


    <!--=============== SWIPER JS ===============-->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>


    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
</body>

</html>