<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% load static %}
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
	<title>Shopping for Halloween ?</title>
</head>

<body>
	<section>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<div class="square" style="--i:0"></div>
			<div class="square" style="--i:1"></div>
			<div class="square" style="--i:2"></div>
			<div class="square" style="--i:3"></div>
			<div class="square" style="--i:4"></div>
			<div class="container">
				<div class="form">
					<h2>Sign in</h2>
					<form method="POST">
						{% csrf_token %}
						<div class="inputBox">
							<input type="email" placeholder="Email" name="email">
						</div>
						<div class="inputBox">
							<input type="password" placeholder="Password" name="password">
						</div>
						{% for field in login_form %}
						<p>
							{% for error in field.errors %}
							<span class="error" style="color:red">{{ error }}</span>
							{% endfor %}
						</p>
						{% endfor %}
						{% if login_form.non_field_errors %}
						<div style="color:red">
							<p>{{login_form.non_field_errors}}</p>
						</div>
						{% endif %}
						<div class=" inputBox">
							<input type="submit" value="Sign in">
						</div>
						<p class="forget">
							<a href="{% url 'password_reset' %}"> Forgot your password? </a>
						</p>
						<p class="forget">Don't have an account ?
							<a href="{% url 'register' %}"> Sign up </a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'js/login-register.js' %}"></script>
</body>

</html>