{% load static %}
<header class="header" id="header">
    <nav class="nav container">
        <a href="{% url 'home' %}" class="nav__logo">
            <img src="{% static 'img/logo.png' %}" alt="" class="nav__logo-img">
            Halloween
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Home</a>
                </li>

                <li class="nav__item">
                    <a href="#about" class="nav__link">About</a>
                </li>

                <li class="nav__item">
                    <a href="#trick" class="nav__link">Candy</a>
                </li>

                <li class="nav__item">
                    <a href="#new" class="nav__link">New</a>
                </li>

                {% if request.user.is_authenticated %}
                <p>
                    Hi, {{request.user.username}}
                </p>
                <a href="{% url 'logout' %}" class="button button--ghost">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="button button--ghost">Login</a>
                {% endif %}
                <a href='#order' id="cart" style='color: #fff'>
                    <i class='bx bx-cart bx-md ' style="color:#fff;"'></i>
                </a>

            </ul>

            <div class="nav__close" id="nav-close">
                <i class=' bx bx-x'></i>
        </div>

        <img src="{% static 'img/nav-img.png' %}" alt="" class="nav__img">
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-grid-alt'></i>
        </div>

    </nav>
</header>